{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ headline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        {{ prose(post) }}
        {{ description | safe }}
      </div>
      <div class="col-sm-4">
        <img src="../img/{{ imagebw }}" alt="" class="img-fluid mb-4">
      </div>
    </div>
  </article>
{% endblock %}
