{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}List of studio albums{% endblock %}

{% block content %}
<article class="container">
  <h1>Discography</h1>
  <p>Intro text here.</p>
    <div class="row">
    {% for discography in discography.discography %}
    <div class="col-sm-6">
      <div class="card">
          <img src="{{ discography.image }}">
        <div class="card-body">
          <h5 class="card-title">{{ discography.title }}</h5>
          <p class="card-text">{{ discography.year }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}