{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Members{% endblock %}

{% block page_description %}A list of the Queen members{% endblock %}

{% block content %}

<section id="jumbo">
  <div class="container">
  </div>
</section>

<article class="container">
  <h1>Members</h1>
  <p>Queen, an iconic British rock band formed in 1970, became a powerhouse of musical innovation and showmanship. Comprising four exceptional talents – Freddie Mercury, Brian May, Roger Taylor, and John Deacon – Queen redefined the boundaries of rock music.</p>

  <p>{{ blurb | safe }}</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for members in queen.members %}
    <div class="col mb-4">
      <div class="card bg-dark text-light">
        <div class="row g-0">
          <div class="col-md-4 x-0">
            <img src="./img/{{ members.imagebw }}" class="img-fluid rounded-start" style="width: 100%; height: 100%;">
          </div>
          <div class="col-md-8 x-0">
            <div class="card-body">
              <h5 class="card-title">{{ members.name }}</h5>
              <p class="card-text text-light">
                <strong>Instruments:</strong> {{ members.instruments }}
                <strong>Birthplace:</strong> {{ members.birthplace }} <br>
                <strong>Tenure:</strong> {{ members.tenure }} <br>
              </p>
              <a href="members/{{ members.slug }}.html" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>

{% endblock %}
