/* nav */

.navbar {
  margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

.navbar {
  font-family: 'Castoro Titling', serif;
}

.navbar {
  font-family: 'Hedvig Letters Serif', serif;
}
